# Python
venv/
__pycache__/
*.pyc

# Environment variables
.env
.env.*


# Node
node_modules/

# Build files
dist/
build/

# IDE
.vscode/
.idea/


# ASKBuddy data
data/chroma_db/*
!data/chroma_db/.gitkeep
data/raw_pdfs/**/*.pdf
data/processed/*
!data/processed/.gitkeep
data/registry.db

data/test_pdfs/
data/raw_pdfs/
